# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DNAModel.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sdun067\Unity Projects\DNAModel\.idea\.idea.DNAModel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
